<h1>Welcome to the scavenger hunt!</h1>

<h3>To begin, let's confirm your identity.</h3>

<%= form_tag('/questions') %>
	<%= hidden_field_tag 'number', "#{@question.number}" %>
	<%= label_tag 'answer', "#{@question.text}" %>
	<%= text_field_tag 'answer' %>
	<%= submit_tag "Submit" %>
